<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <!-- url_for allows us to, instead of hard-coding the file path, generate a url by going to the folder and looking for file -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">Learning Flask</h1>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
  </body>
</html>